
        @Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


        <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container">
                    <nav>
                        <ul class="nav nav-tabs">
                            <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li role="presentation">@Html.ActionLink("Create", "Create", "Create")</li>
                            <li role="presentation">@Html.ActionLink("View", "View1", "Show")</li>
                            <li role="presentation">@Html.ActionLink("Add", "Add", "Add")</li>
                        </ul>
                    </nav>
             </div>
        </header>
        <div id="body">
            <section class="container">
                @RenderSection("featured", required: false)
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="container">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
    </body>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</html>
