@model IEnumerable<FabricsFactoryMethodPattern.Entities.Record>
@{
    ViewBag.Title = "Fabrics";
}

<hgroup class="title">
    <h2>@ViewBag.Title List</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table>
        <tr>
            <th>Id</th>
            <th>PaymentId</th>
            <th>Money</th>
            <th>Time</th>
            <th>Note</th>
        </tr>
       @foreach (var ex in Model) { 
       
           <tr> 
                <td>
             @Html.DisplayFor(modelItem => ex.Id.Increment)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.PaymentId.Increment)
                 </td>  
                 <td>
             @Html.DisplayFor(modelItem => ex.Monney)
                 </td>
                 <td>
             @Html.DisplayFor(modelItem => ex.Time)
                 </td>
                 <td>
             @Html.DisplayFor(modelItem => ex.Note)
                 </td>
           </tr>           
       }
    </table>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
