@model IEnumerable<FabricsFactoryMethodPattern.Entities.FabricsPlots>
@{
    ViewBag.Title = "FabricsPlots";
}

<hgroup class="title">
    <h2>Fabrics List</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
             
  <table class="table table-hover">
    <thead>
        <tr>
            <th>IdFabrics</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var ex in Model) {
           <tr> 
                <td>
             @Html.DisplayFor(modelItem => ex.Id.Increment)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.Time)
                 </td> 
            </tr>   
       }
    </tbody>
    </table>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
