@model IEnumerable<FabricsFactoryMethodPattern.Entities.Employee>
@{
    ViewBag.Title = "Supplier";
}

<hgroup class="title">
    <h2>Employee List</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>BirthDay</th>
            <th>Email</th>
            <th>Address</th>
            <th>IdentityCardNumber</th>
            <th>Salary</th>
            <th>CellPhone</th>
            <th>DeskPhone</th>
            <th>JoinDate</th>
            <th>Degree</th>

        </tr>
       @foreach (var ex in Model) { 
       
           <tr> 
                <td>
             @Html.DisplayFor(modelItem => ex.Id.Increment)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.FirstName)
                 </td>

               <td>
             @Html.DisplayFor(modelItem => ex.LastName)
                 </td>
                <td>
             @Html.DisplayFor(modelItem => ex.BirthDate)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.Email)
                 </td>
                 <td>
             @Html.DisplayFor(modelItem => ex.Address)
                 </td>
                <td>
             @Html.DisplayFor(modelItem => ex.IdentityCardNumber)
                 </td>
                <td>
             @Html.DisplayFor(modelItem => ex.Salary)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.CellPhones[0].PhoneNumber)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.DeskPhones[0].PhoneNumber)
                 </td>
                <td>
             @Html.DisplayFor(modelItem => ex.JoinDate)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.Degree)
                 </td>
               
           </tr>           
       }
    </table>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
