@model IEnumerable<FabricsFactoryMethodPattern.Entities.FabricsColor>
@{
    ViewBag.Title = "FabricsColor";
}

<hgroup class="title">
    <h2>FabricsColor List</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
             
  <table class="table table-hover">
    <thead>
        <tr>
            <th>IdFabrics</th>
            <th>ColorName</th>
            <th>FabricsId</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var ex in Model) { 
       
           <tr> 
                <td>
             @Html.DisplayFor(modelItem => ex.Id.Increment)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.ColorName)
                 </td>  
                 <td>
             @Html.DisplayFor(modelItem => ex.FabricsId.Increment)
                 </td>
           </tr>           
       }
    </tbody>
    </table>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
