@model IEnumerable<FabricsFactoryMethodPattern.Entities.Customer>
@{
    ViewBag.Title = "Customer";
}

<hgroup class="title">
    <h2>Customer List</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>CellPhone</th>
            <th>DeskPhone</th>
            <th>AccountNumber</th>
            <th>BankName</th>

        </thead>
        <tbody>
        @foreach (var ex in Model)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ex.Id.Increment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ex.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ex.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ex.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ex.Address)
                </td>

                <td>
                    @foreach(var cellphone in ex.CellPhones)
                    {
                       <p>@Html.DisplayFor(modelItem => cellphone.PhoneNumber)</p>
                    }
                        
                </td>
                <td>
                    @foreach(var deskphone in ex.DeskPhones)
                    {
                       <p>@Html.DisplayFor(modelItem => deskphone.PhoneNumber)</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ex.Bank.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ex.Bank.BankName)
                </td>
            </tr>           
        }
            </tbody>
    </table>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
