@model IEnumerable<FabricsFactoryMethodPattern.Entities.WareHouse>
@{
    ViewBag.Title = "WareHouse";
}

<hgroup class="title">
    <h2>WareHouse List</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Areage</th>
            <th>Address</th>
        </tr>
       @foreach (var ex in Model) { 
       
           <tr> 
                <td>
             @Html.DisplayFor(modelItem => ex.Id.Increment)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.Name)
                 </td>  
                 <td>
             @Html.DisplayFor(modelItem => ex.Areage)
                 </td>
                <td>
             @Html.DisplayFor(modelItem => ex.Address)
                 </td>
           </tr>           
       }
    </table>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
