@model IEnumerable<FabricsFactoryMethodPattern.Entities.PurchaseOrder>
@{
    ViewBag.Title = "PurchaseOrder";
}

<hgroup class="title">
    <h2>PurchaseOrder List</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table>
        <tr>
            <th>IdEmployee</th>
            <th>Time</th>
            <th>FabricsColorId</th>
            <th>TotalRoll</th>
            <th>TotalMetter</th>
        </tr>
       @foreach (var ex in Model) { 
       
           <tr> 
                <td>
             @Html.DisplayFor(modelItem => ex.EmployeeId.Increment)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.Time)
                 </td>

               <td>
             @Html.DisplayFor(modelItem => ex.Goods[0].FabricsColorId.Increment)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => ex.Goods[0].TotalRoll)
                 </td>
                 <td>
             @Html.DisplayFor(modelItem => ex.Goods[0].TotalMetter)
                 </td>
           </tr>           
       }
    </table>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
