@model FabricsFactoryMethodPattern.Entities.Customer
@{
    ViewBag.Title = "Add";
}

<hgroup class="title">
    <h1>Add</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

   <ul>
       <li>@Html.ActionLink("Add Prices For Supplier","AddPricesForSupplier","Add")</li>
       <li>@Html.ActionLink("Add Prices For Customer","AddPricesForCustomer","Add")</li>
       <li>@Html.ActionLink("Add Delivery","AddDelivery","Add")</li>

   </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
