@model FabricsFactoryMethodPattern.Entities.PurchaseOrder
@{
    ViewBag.Title = "PurchaseOrder";
}

<hgroup class="title">
    <h2>Create a new  @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol >
            <li>
                @Html.LabelFor(m => m.EmployeeId)
                @Html.DropDownListFor(m => m.EmployeeId,(IEnumerable<SelectListItem>)ViewData["EmployeeId"])
            </li>
            <li>
                @Html.LabelFor(m => m.Time)
                @Html.TextBoxFor(m => m.Time,new { @type = "date" })
            </li>
            </ol>
            <ol >
            <li style ="display:inline-block">
                @Html.LabelFor(m => m.Goods[0].FabricsColorId)
                @Html.DropDownListFor(m => m.Goods[0].FabricsColorId,(IEnumerable<SelectListItem>)ViewData["FabricsColorId"],new { @class = "fabricsColorId"})
            </li>
            <li style ="display:inline-block">
          
                @Html.LabelFor(m => m.Goods[0].TotalRoll)
                @Html.TextBoxFor(m => m.Goods[0].TotalRoll,new { @class = "totalRoll"})
            </li>
            <li style ="display:inline-block">
          
                @Html.LabelFor(m => m.Goods[0].TotalMetter)
                @Html.TextBoxFor(m => m.Goods[0].TotalMetter,new { @class = "totalMetter"})
                
            </li>
                
            <button class="float-right more" type ="button" onclick ="addMore()" >Add More</button>
           </ol>
         <input type="submit" value="Create" />
    </fieldset>
     <script>
        function addMore() {
            var count = parseInt($(".fabricsColorId").last().attr("id").substring(6));
            count += 1;
            $(".more").before('<li style ="display:inline-block">' +
                '<input class="fabricsColorId" data-val="true" data-val-required="The FabricsColorId field is required." id="Goods_' + count +
                '__FabricsColorId" name="Goods[' + count + '].FabricsColorId" type="text" value=""></li>' +
                '<li style ="display:inline-block">' +
                '<input data-val="true" data-val-number="The field TotalRoll must be a number." data-val-required="The TotalRoll field is required." id="Goods_' + count + '__TotalRoll" name="Goods[' + count + '].TotalRoll" type="text" value=""></li>' +
                '<li style ="display:inline-block">' +
                '<input data-val="true" data-val-number="The field TotalMetter must be a number." data-val-required="The TotalMetter field is required." id="Goods_' + count + '__TotalMetter" name="Goods[' + count + '].TotalMetter" type="text" value=""></li>');

        }
       

    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
