@model FabricsFactoryMethodPattern.Entities.Customer
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="col-md-8 col-md-ofset-2">
        <form  class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2" for="firstname">First Name:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "firstname" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-2" for="lastname">Last Name:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "lastname" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-2" for="address">Address:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "address" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-2" for="bankname">Bank Name:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Bank.BankName, new { @class = "form-control", @id = "bankname" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-2" for="account">Account:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Bank.AccountNumber, new { @class = "form-control", @id = "account" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-2" for="cellphone">Cell Numer:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.CellPhones[0].PhoneNumber, new { @class = "form-control cellPhone", @id = "cellphone" })
                    <button type ="button" onclick ="addCellPhone()" class ="cellbutton ">Add</button>

                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-2" for="deskphone">Desk Number:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.DeskPhones[0].PhoneNumber, new { @class = "form-control deskPhone", @id = "cellphone" })
                    <button type ="button" onclick ="addDeskPhone()" class ="deskbutton">Add</button>

                </div>
              </div>
            <br/>
            <br/>
                <input type="submit" value="Create" class="btn btn-default pull-right"/>
        </form>
    </div>
    <script>
        function addCellPhone() {
            var count = parseInt($(".cellPhone").last().attr("id").substring(11));
            count += 1;
            $(".cellbutton").before('<input class="form-control cellPhone" id="CellPhones_' + count + '__PhoneNumber" name="CellPhones[' + count + '].PhoneNumber" type="text" value="">');

        }
        function addDeskPhone() {
            var count = parseInt($(".deskPhone").last().attr("id").substring(11));
            count += 1;
            $(".deskbutton").before('<input class="form-control deskPhone" id="DeskPhones_' + count + '__PhoneNumber" name="DeskPhones[' + count + '].PhoneNumber" type="text" value="">');

        }

    </script>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
