@model FabricsFactoryMethodPattern.Entities.FabricsColor
@{
    ViewBag.Title = "FabricsColor";
}

<hgroup class="title">
    <h2>Create a @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-md-8 col-md-ofset-2">
        <form  class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-3" for="colorname">Color Name:</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.ColorName, new { @class = "form-control", @id = "colorname" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" for="fabricsId">Fabrics Name:</label>
                <div class="col-sm-3">
                   @Html.DropDownListFor(m => m.FabricsId, (IEnumerable<SelectListItem>)ViewData["id"], new {@id = "fabricsId" ,@class = "form-control"})
                </div>
              </div>
               <br />
            <br/>
                <input type="submit" value="Create" class="btn btn-default pull-right"/>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
