@model FabricsFactoryMethodPattern.Entities.Payment
@{
    ViewBag.Title = "PaymentForSupplier";
}

<hgroup class="title">
    <h2>Create a @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

      <div class="col-md-8 col-md-ofset-2">
        <form  class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-3" >EmployeeId:</label>
                <div class="col-sm-3">
                     @Html.DropDownListFor(m => m.EmployeeId,(IEnumerable<SelectListItem>)ViewData["EmployeeId"], new { @class = "form-control"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" >SupplierId:</label>
                <div class="col-sm-3">
                   @Html.DropDownListFor(m => m.SupplierId,(IEnumerable<SelectListItem>)ViewData["SupplierId"], new { @class = "form-control"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" for="money">Money:</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Money, new { @class = "form-control", @id = "money" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" for="RecipientOrSender">RecipientOrSender:</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.RecipientOrSender, new { @class = "form-control", @id = "RecipientOrSender" })
                </div>
              </div>
               <br />
               <div class="form-group">
                <label class="col-sm-3" >PaymentMethod:</label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.PaymentMethod,(IEnumerable<SelectListItem>)ViewData["paymentMethod"], new { @class = "form-control"})
                </div>
              </div>
               <br />
               <div class="form-group">
                <label class="col-sm-3" for="bankName">BankName:</label>
                <div class="col-sm-9">
                     @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @id = "bankName" })
                </div>
              </div>
               <br />
             <div class="form-group">
                <label class="col-sm-3" for="AccountNumber">AccountNumber:</label>
                <div class="col-sm-9">
                     @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", @id = "AccountNumber" })
                </div>
              </div>
               <br />
            <div class="form-group">
                <label class="col-sm-3" for="time">Time:</label>
                <div class="col-sm-9">
                     @Html.TextBoxFor(m => m.Time, new { @class = "form-control", @id = "time",@type = "date" })
                </div>
              </div>
               <br />
            <div class="form-group">
                <label class="col-sm-3" >PaymentType:</label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.PaymentType,(IEnumerable<SelectListItem>)ViewData["paymentType"], new { @class = "form-control"})
                </div>
              </div>
               <br />
            <br/>
                <input type="submit" value="Create" class="btn btn-default pull-right"/>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
