@model FabricsFactoryMethodPattern.Entities.SalesOrder
@{
    ViewBag.Title = "SalesOrder";
}

<hgroup class="title">
    <h2>Create a new  @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-md-8 col-md-ofset-2">
        <form  class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-3" >CustomerId:</label>
                <div class="col-sm-3">
                      @Html.DropDownList("CustomerId", (IEnumerable<SelectListItem>)ViewData["CustomerId"], new { @class = "form-control"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" for="time">Time:</label>
                <div class="col-sm-9">
                     @Html.TextBoxFor(m => m.Time, new { @class = "form-control", @id = "time", @type = "date" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3">FabricsColorName:</label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.Goods[0].FabricsColorId, (IEnumerable<SelectListItem>)ViewData["FabricsColorId"], new { @class = "fabricsColorId form-control" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" for="TotalRoll">TotalRoll:</label>
                <div class="col-sm-9">
                     @Html.TextBoxFor(m => m.Goods[0].TotalRoll, new { @class = "form-control totalRoll", @id = "TotalRoll" })
                </div>
              </div>
               <br />
               <div class="form-group">
                <label class="col-sm-3" for="totalMetter">TotalMetter:</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Goods[0].TotalMetter, new { @class = "form-control totalMetter", @id = "iotalMetter" })
                </div>
              </div>
               <br />
            <br/>
                <input type="submit" value="Create" class="btn btn-default pull-right"/>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
