@model FabricsFactoryMethodPattern.Entities.Customer
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>Create</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

   <ul>
       <li>@Html.ActionLink("Create Customer","CreateCustomer","Create")</li>
       <li>@Html.ActionLink("Create Supplier","CreateSupplier","Create")</li>
       <li>@Html.ActionLink("Create Employee","CreateEmployee","Create")</li>

   </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
