@model FabricsFactoryMethodPattern.Entities.Customer
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.Label(    "First Name:")
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>
             <li>
                @Html.LabelFor(m => m.Bank)
                @Html.TextBoxFor(m => m.Bank)
            </li>


        </ol>
        <input type="submit" value="Create" />
    </fieldset>
    <div>
        <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>

        </tr>
    
    </table>
   

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
