@model FabricsFactoryMethodPattern.Entities.FabricsPlots
@{
    ViewBag.Title = "FabricsPlots";
}

<hgroup class="title">
    <h2>Create a @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Time)
                @Html.TextBoxFor(m => m.Time, new {@type = "date" })
            </li>
        </ol>
        <input type="submit" value="Create" />
    </fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
