@model FabricsFactoryMethodPattern.Entities.Customer
@{
    ViewBag.Title = "Create";
}

<hgroup class="title">
    <h1>Create</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

   <ul>
       <li>@Html.ActionLink("Create Customer","CreateCustomer","Create")</li>
       <li>@Html.ActionLink("Create Supplier","CreateSupplier","Create")</li>
       <li>@Html.ActionLink("Create Employee","CreateEmployee","Create")</li>
       <li>@Html.ActionLink("Create Delivery","CreateDelivery","Create")</li>
       <li>@Html.ActionLink("Create SalesOrder","CreateSalesOrder","Create")</li>
       <li>@Html.ActionLink("Create PurchaseOrder","CreatePurchaseOrder","Create")</li>
       <li>@Html.ActionLink("Create Fabrics","CreateFabrics","Create")</li>
       <li>@Html.ActionLink("Create FabricsColor","CreateFabricsColor","Create")</li>
       <li>@Html.ActionLink("Create FabricsRoll","CreateFabricsRoll","Create")</li>
       <li>@Html.ActionLink("Create FabricsPlots","CreateFabricsPlots","Create")</li>
       <li>@Html.ActionLink("Create WareHouse","CreateWareHouse","Create")</li>
       <li>@Html.ActionLink("Create PurchaseInvoice","CreatePurchaseInvoice","Create")</li>
       <li>@Html.ActionLink("Create PaymentForSupplier","CreatePaymentForSupplier","Create")</li>

   </ul>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
