@model FabricsFactoryMethodPattern.Entities.Customer
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.Label(    "First Name:")
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.Bank.AccountNumber)
                @Html.TextBoxFor(m => m.Bank.AccountNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Bank.BankName)
                @Html.TextBoxFor(m => m.Bank.BankName)
            </li>
             <li>
                @Html.LabelFor(m => m.CellPhones)
                @Html.TextBoxFor(m => m.CellPhones[0].PhoneNumber, new { @class = "cellPhone"})
                <button type ="button" onclick ="addTextBox()">Add</button>
            </li>
           


        </ol>
        <input type="submit" value="Create" />
    </fieldset>
    <script>
        function addTextBox() {
            var count = parseInt($(".cellPhone").last().attr("id").substring(11));
            count += 1;
            $("button").before('<br/>' + '<input class="cellPhone" id="CellPhones_'+count+'__PhoneNumber" name="CellPhones[' +count+ '].PhoneNumber" type="text" value="">');

        }

    </script>
    <div>
        <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>

        </tr>
    
           <tr> 
               <td>
             @Html.DisplayFor(modelItem => Model.FirstName)
                 </td>

               <td>
             @Html.DisplayFor(modelItem => Model.LastName)
                 </td>
                <td>
             @Html.DisplayFor(modelItem => Model.Email)
                 </td>
                <td>
             @Html.DisplayFor(modelItem => Model.Address)
                 </td>
               <td>
             @Html.DisplayFor(modelItem => Model.CellPhones[0])
                 </td>
           </tr>           
    </table>
   

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
