@model FabricsFactoryMethodPattern.Entities.Employee
@{
    ViewBag.Title = "Employee";
}

<hgroup class="title">
    <h2>Create a new @ViewBag.Title.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-md-8 col-md-ofset-2">
        <form  class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-4" for="firstname">First Name:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "firstname" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-4" for="lastname">Last Name:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "lastname" })
                </div>
              </div>
               <br />
            <div class="form-group">
                <label class="col-sm-4" for="bth">BirthDate:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", @id = "bth" ,@type = "date"})
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4" for="email">Email:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-4" for="address">Address:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "address" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-4" for="icd">Identity Card Number:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.IdentityCardNumber, new { @class = "form-control", @id = "icd" })
                </div>
              </div>
               <br />
               <div class="form-group">
                <label class="col-sm-4" for="salary">Salary:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", @id = "salary" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-4" for="join">Join Date:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.JoinDate, new { @class = "form-control", @id = "join", @type = "date" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-4" for="degree">Degree:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Degree, new { @class = "form-control", @id = "degree" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-4" for="lincese">Driver Lincense Number:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DriverLincenseNumber, new { @class = "form-control cellPhone", @id = "lincese" })
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4" for="cellphone">Cell Numer:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.CellPhones[0].PhoneNumber, new { @class = "form-control cellPhone"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-4" for="deskphone">Desk Number:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.DeskPhones[0].PhoneNumber, new { @class = "form-control deskPhone"})
                </div>
              </div>
            <br/>
            <br/>
                <input type="submit" value="Create" class="btn btn-default pull-right"/>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
