@model FabricsFactoryMethodPattern.Entities.Supplier
@{
    ViewBag.Title = "CreateSupplier";
}

<hgroup class="title">
    <h2>Create a new account @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.Label(    "First Name:")
                @Html.TextBoxFor(m => m.FirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.Bank.AccountNumber)
                @Html.TextBoxFor(m => m.Bank.AccountNumber)
            </li>
            <li>
                @Html.LabelFor(m => m.Bank.BankName)
                @Html.TextBoxFor(m => m.Bank.BankName)
            </li>
             <li>
                @Html.LabelFor(m => m.CellPhones)
                @Html.TextBoxFor(m => m.CellPhones[0].PhoneNumber, new { @class = "cellPhone"})
                <button type ="button" onclick ="addCellPhone()" class ="cellbutton ">Add</button>
            </li>
            <li>
                @Html.LabelFor(m => m.DeskPhones)
                @Html.TextBoxFor(m => m.DeskPhones[0].PhoneNumber, new { @class = "deskPhone"})
                <button type ="button" onclick ="addDeskPhone()" class ="deskbutton">Add</button>
            </li>
           


        </ol>
        <input type="submit" value="Create" />
    </fieldset>
     <script>
        function addCellPhone() {
            var count = parseInt($(".cellPhone").last().attr("id").substring(11));
            count += 1;
            $(".cellbutton" ).before('<br/>' + '<input class="cellPhone" id="CellPhones_'+count+'__PhoneNumber" name="CellPhones[' +count+ '].PhoneNumber" type="text" value="">');

        }
        function addDeskPhone() {
            var count = parseInt($(".deskPhone").last().attr("id").substring(11));
            count += 1;
            $(".deskbutton").before('<br/>' + '<input class="deskPhone" id="DeskPhones_' + count + '__PhoneNumber" name="DeskPhones[' + count + '].PhoneNumber" type="text" value="">');

        }

    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
