@model FabricsFactoryMethodPattern.Entities.PurchaseInvoice
@{
    ViewBag.Title = "PurchaseInvoice";
}

<hgroup class="title">
    <h2>Create a @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="col-md-8 col-md-ofset-2">
        <form  class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-3" >EmployeeId:</label>
                <div class="col-sm-3">
                     @Html.DropDownListFor(m => m.EmployeeId, (IEnumerable<SelectListItem>)ViewData["EmployeeId"], new { @class = "form-control"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" >SupplierId:</label>
                <div class="col-sm-3">
                     @Html.DropDownListFor(m => m.SupplierId,(IEnumerable<SelectListItem>)ViewData["SupplierId"], new { @class = "form-control"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" >PurchaseOrderId:</label>
                <div class="col-sm-3">
                     @Html.DropDownListFor(m => m.PurchaseOrderId,(IEnumerable<SelectListItem>)ViewData["PurchaseOrderId"], new { @class = "form-control"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" >WareHouseId:</label>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.WareHouseId,(IEnumerable<SelectListItem>)ViewData["WareHouseId"], new { @class = "form-control"})
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3" for="time">Time:</label>
                <div class="col-sm-9">
                     @Html.TextBoxFor(m => m.Time, new { @class = "form-control", @id = "time", @type = "date" })
                </div>
              </div>
               <br />
              <div class="form-group">
                <label class="col-sm-3">PaymentMethod:</label>
                <div class="col-sm-3">
                     @Html.DropDownListFor(m => m.PaymentMethod,(IEnumerable<SelectListItem>)ViewData["paymentMethod"], new { @class = "form-control"})
                </div>
              </div>
               <br />
               <div class="form-group">
                <label class="col-sm-3" for="discountPercent">DiscountPercent:</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.DiscountPercent, new { @class = "form-control " ,@id ="discountPercent"})
                </div>
              </div>
               <br />
            <br/>
                <input type="submit" value="Create" class="btn btn-default pull-right"/>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
