@model FabricsFactoryMethodPattern.Entities.WareHouse
@{
    ViewBag.Title = "WareHouse";
}

<hgroup class="title">
    <h2>Create a @ViewBag.Title</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Areage)
                @Html.TextBoxFor(m => m.Areage)
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
            </li>

        </ol>
        <input type="submit" value="Create" />
    </fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
